.card__item{
  position: relative;
  width: calc(calc(100%  - 60px) / 4);
}

.card__item:hover::after{
  content: '';
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.582);
}

.card__title{
  position: absolute;
  color: #fff;
  font-size: clamp(1.5rem, 1.4vw, 3rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.2s ease;
  -webkit-text-stroke: 1.4px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.card__item:hover .card__title{
  visibility: visible;
  opacity: 1;
}

.card__banner__wrapper{
  overflow: hidden;
}

.card__banner{
  transition: transform 0.2s ease-in;
  object-fit: cover;
}

.card__item:hover .card__banner{
  transform: scale(1.12);

}


@media (max-width: 768px){
  .card__item{
    position: relative;
    width: calc(calc(100%  - 40px) / 3);
  }
}


@media (max-width: 368px){
  .card__item{
    width: 100%;
  }
}